{% extends 'base.html.twig' %}

{% block title %}DevTech Challenge{% endblock %}

{% block body %}
	<!-- Header section -->
	<header>
		<h1 class="main-title">
			<img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" alt="Wild Code School logo" />
			Les Argonautes
		</h1>
	</header>


	<!-- Main section -->
	<main>

		<!--Affichage message de succès-->
		{% for message in app.flashes('success') %}
			<div class="row">
				<div class="m-auto alert alert-success" role="alert">{{ message }}</div>
			</div>
		{% endfor %}

		<!--Ajout d'un membre-->
		<div class="row mt-5">
			<div class="col-12 text-center">
				<h2 class="add-title">Ajouter un(e) Argonaute</h2>
			</div>

			<div class=" d-flex flex-column col-5 text-center m-auto pt-5 ">
				<!--affichage du formulaire créer avec symfony-->
				{{ form_start(form) }}
				{{ form_row(form.name) }}
				{{ form_row(form.submit) }}
				{{ form_end(form) }}
			</div>
		</div>
		<!--Affichage des membres de l'équipage-->
		<div class="row mt-5">
			<div class="col-12 text-center">
				<h2 class="title-member-list">Membres de l'équipage</h2>
			</div>
		</div>
{#		<!-- Member list -->#}
{#		<h2>Membres de l'équipage</h2>#}
{#		<section class="member-list">#}
{#			<div class="member-item">Eleftheria</div>#}
{#			<div class="member-item">Gennadios</div>#}
{#			<div class="member-item">Lysimachos</div>#}
{#		</section>#}
	</main>


	<footer>
		<p class="footer-credits">Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
	</footer>

{% endblock %}
